<h1>Listing goobs</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goobs.each do |goob| %>
      <tr>
        <td><%= goob.description %></td>
        <td><%= goob.user.email if goob.user %></td>
        <td><%= link_to 'Show', goob_path(goob) %></td>
      <% if goob.user == current_user %>
        <td><%= link_to 'Edit', edit_goob_path(goob) %></td>
        <td><%= link_to 'Destroy', goob, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>
	<%= link_to 'New Goob', new_goob_path %>