<div id="goobs">
	<% @goobs.each do |goob| %>
	  <div class="box">
		<%= image_tag goob.image.url(:medium) %>
		<%= goob.description %>
		<%= goob.user.email if goob.user %>
		<%= link_to 'Show', goob_path(goob) %>
	  <% if goob.user == current_user %>
		<%= link_to 'Edit', edit_goob_path(goob) %>
		<%= link_to 'Destroy', goob, method: :delete, data: { confirm: 'Are you sure?' } %>
	  <% end %>
	  </div>
	<% end %>
</div>
