<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @goob.image.url %>
      </div>
      <div class="panel-body">
        <p><%= @goob.description %></p>
        <p><strong><%= @goob.user.email if @goob.user %></strong></p>

        <% if @goob.user == current_user %>
         <%= link_to 'Edit', edit_goob_path(@goob) %>
        <% end %>
        | <%= link_to 'Back', goobs_path %>

      </div>
    </div>
  </div>
</div>